<a routerLink="home/{{title.id}}">
    <div id="mainDiv">
        <div class="card">
            <img class="card-img-top" src="http://localhost:8090/{{title.image}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{title.name | uppercase}}</h5>
              <p class="card-text">
                  {{title.author}} <br>
              
               <span style="color:darkred;">({{title.price| discount |currency:"INR"}})</span>
               (<del>   {{title.price|currency:'INR'}} </del>)
              </p>
            </div>
          </div>
        </div>
</a>
