*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

tr{
    margin: 10px;
}

tr td{
    color: brown;
    font-size: 20px;
    padding-left:30px ;
}

img{
    float: left;
    height: 400px;
    width: 400px;
    margin-right: 40px;
}

p{
    color: rgb(84, 94, 58);
    margin: 30px;
    font-size: 15px;
}
